<h1>Sams</h1>


    <p> SAMS</p>

    <%= form_for(@sam) do |f| %>
        <label>Sammich Name:</label><br>
        <%= f.text_field :name %><br>
    
        <label>Description</label><br>
        <%= f.text_area :description %><br>

        <label>Image URL</label><br>
        <%= f.text_field :image_url %>

        <%= f.hidden_field :user_id, value: @user.id %>

        #have to send the user id as a hidden form because
        #it wont do it automatically
    
        <%= f.submit %>
    <% end %>

    <% if @errors != nil %>
        <p><%= @errors.first %></p>
    <% end %>

