
<html>
<head>
    <%= stylesheet_link_tag 'page_style.css', media: 'print, screen' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
</head>
<body>
    <a class= "home" href="<%= root_path %>">
        <div class="logo" type="button" action="<%= root_path %>">
            <h1>whatsursammich🥪</h1>
        </div>
    </a>

    <div class="picture-title">
        <div class="title">
            <h1 id="title"><%= @sam.name %></h1>
            <img src=<%= @sam.image_url %> class="image">
            <a href="<%= user_path(@sam.user) %>"><h1 id="title">by <%= @sam.user.username %></h1></a>
        </div>
    </div>

    <div class="body">
        <p><%= @sam.description %>
    </div>

    <div class="review-title">
        <h2><a href="<%= new_sam_review_path(@sam.name.gsub!(" ", "-")) %>">Write a review</a></h2>
    </div>
    <br>

    <% if @sam.reviews != nil %>
        <% @sam.reviews.each do |review| %>
            <div class="review-title">
                
                <h2><a href="<%= user_path(review.user) %>"><%= review.user.username %></a>
                    rated this
                <% if review.rating == 1 %>
                    ⭐
                <% elsif review.rating == 2 %>
                    ⭐⭐
                <% elsif review.rating == 3 %>
                    ⭐⭐⭐
                <% elsif review.rating == 4 %>
                    ⭐⭐⭐⭐
                <% elsif review.rating == 5 %>
                    ⭐⭐⭐⭐⭐
                <% end %>
                </h2>
            </div>

                <div class="review">
                    <a class="review-body" href="<%= sam_review_path(sam_id: @sam.name, id: review.id) %>">
                        <div class="text">
                            <p>"<%= review.body%>"</p>
                        </div>
                    </a> 
                </div>
            </div>
        <% end %>
    <% end %>

        

</body>
</html>