<html>
<head>
    <%= stylesheet_link_tag 'home_style.css', media: 'print, screen' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
</head>
<body>
    <div class="logo">
        <h1>whatsursammich🥪</h1>
    </div>


    
    <div class="full">
        <div class="body">

            <%= render "shared/nav" %>

            <div class="sort">
                <p>sort by: <a href="/popular">popular</a> | <a href="/">new</a></p>
                <a id="sotw" href="#">🏆sammich of the week🏆</a>
            </div>
        <% @sams.each do |sam| %>
            <div class="post">
                <img src=<%= sam.image_url %> class="image">
                <a id="post-title" href="<%= sam_path(sam.name.gsub!(" ", "-")) %>"><%= sam.name.gsub!("-", " ") %></a>
                <a id="review" href="<%= sam_path(sam.name.gsub!(" ", "-")) %>">
                    <% if sam.reviews.count == 0 %>
                        write the first review 
                    <% else %>
                        read & write reviews
                    <% end %>
                </a>
                <p id="rating">
                    <% if sam.reviews.average(:rating) == nil %>
                        NO REVIEWS
                    <% elsif sam.reviews.average(:rating).round == 1 %>
                        ⭐
                    <% elsif sam.reviews.average(:rating).round == 2 %>
                        ⭐⭐
                    <% elsif sam.reviews.average(:rating).round == 3 %>
                        ⭐⭐⭐
                    <% elsif sam.reviews.average(:rating).round == 4 %>
                        ⭐⭐⭐⭐
                    <% elsif sam.reviews.average(:rating).round == 5 %>
                        ⭐⭐⭐⭐⭐
                    <% end %>
                </p>
                <p id="numbers"><%= sam.reviews.count %> 💬</p> 
                <a id="by" href="<%= user_path(sam.user) %>"><%= sam.user.username %></a>

                <% if sam.user.id == session[:user_id] %>
                    <form class="delete" action="<%= destroy_sam_path(sam.name) %>" method="post">
                        <button type="submit" class="btn-link">Delete</button>
                    </form>
                    <form class="edit" action="<%= edit_sam_path(sam.name) %>" method="get">
                        <button type="submit" class="btn-link">Edit</button>
                    </form>
                <% end %>
            </div>
        <% end %> 
            <div class="footer">
                <p>Made with 🥪 by Michael Kofron</p>
            </div>

        </div> 
    </div>












</body>
</html>
